<% content_for :css do %>
  <%= stylesheet_link_tag 'css/hero' %>
<% end %>

<!-- Hero Header -->
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="site-name"> Welcome to Bandai Lab!</h1>
    <p>萬代研究室では，情報ネットワーク及びネットワークコンピューティング，アプリケーション技術を開発しています．大学ならではの中長期的な視点で研究に取り組みます．</p>
    <p><a class="btn btn-black" href="#" role="button">CONTACT ME</a></p>
  </div>
</div> 

<!-- Main contents -->
<div class="container-fluid mt-5 ">
  <div class="row">
    <div class="col-md-2">
      <div class="d-flex flex-column">
        <div class="p-2 border"><a href="https://bandailab.jp/"> ホームページ</a></div>
        <div class="p-2 border"><a href="../users"> メンバー一覧</a></div>
        <div class="p-2 border"><a href="../posts"> 投稿記事一覧</a></div>
      </div>
    </div>
    <div class="col-md-10">
      <!-- TODO: あまりにも適当．あとは任せた． -->
      <% if logged_in? %>
        <article>
          <h1 class="border-bottom">
            <%= @user.name %>
            <% if current_user == @user %>
              <a class="h6" href="/users/<%= @user.id %>/edit">編集</a>
            <% end %>
          </h1>

          <div class="col-md-12">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h5>学年</h5>
                <strong class="d-inline-block mb-1"><%= @user.grade.name %></strong>
                <h5>研究テーマ</h5>
                <div class="mb-1 text-muted"><%= @user.research_theme %></div>
                <h5>自己紹介</h5>
                <p class="card-text ml-auto"><%= @user.introduction %></p>
              </div>
              <%= gravatar_for @user, size: 250, _class: "card-img-right flex-auto d-none d-lg-block" %>
            </div>
          </div>

          <h4>投稿・週間報告</h4>
          <%= form_tag @user, method: :get, class: 'boards__searchForm' do %>
            <%= select_tag :tag_id,
              options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
              {
                prompt: 'タグで絞り込み検索',
                onchange: 'submit(this.form);'
              }
            %>
          <% end %>
          <br>

          <% if @user.Posts.length != 0 %>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <% @posts.each do |post| %>
                <div class="card h-100 mx-2" style="width: 25rem;">
                  <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at %></h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <% post.tags.each do |tag| %>
                        <span class="badge rounded-pill bg-secondary"><%= tag.name %></span>
                      <% end %>
                    </h6>
                    <p class="card-text"><%= abstract(plaintext(post.article),30) %></p>
                    <%= link_to("Link", "/posts/#{post.id}", {class: "btn btn-primary"}) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p> まだ投稿はありません． </p>
          <% end %>  
        </article>
      <% else %>
        ログインが必要です．
      <% end %>
    </div>
  </div>
</div>
