<% content_for :css do %>
  <%= stylesheet_link_tag 'css/hero' %>
<% end %>

<!-- Hero Header -->
<div class="jumbotron jumbotron-extend">
  <div class="container-fluid jumbotron-container">
    <h1 class="site-name"> Welcome to Bandai Lab!</h1>
    <p>萬代研究室では，情報ネットワーク及びネットワークコンピューティング，アプリケーション技術を開発しています．大学ならではの中長期的な視点で研究に取り組みます．</p>
    <p><a class="btn btn-black" href="#" role="button">CONTACT ME</a></p>
  </div>
</div> 

<!-- Main contents -->
<div class="container-fluid mt-5 ">
  <div class="row">
    <div class="col-md-2">
      <div class="d-flex flex-column">
        <div class="p-2 border"><a href="https://bandailab.jp/"> ホームページ</a></div>
        <div class="p-2 border"><a href="../index.html"> 記事一覧</a></div>
        <div class="p-2 border">Flex item 3</div>
      </div>
    </div>
    <div class="col-md-10">
      <!-- TODO: あまりにも適当．あとは任せた． -->
      <% if logged_in? %>
        <article>

          <% if current_user == @user %>
            <p><%= link_to "編集", edit_user_path %></p>
          <% end %>

          <h1 class="border-bottom"> <p> <%= @user.name %> </p> </h1>

          <%= gravatar_for @user, size: 250, _class: "card-img-right flex-auto d-none d-lg-block" %>
          <h4>学年</h4>
          <p><%= @user.grade %></p>
          <br>
          <h4>研究テーマ</h4>
          <p><%= @user.research_theme %></p>
          <br>
          <h4>自己紹介</h4>
          <p><%= @user.introduction %></p>
          <br>
          <h4>投稿・週間報告</h4>

          <% if @user.Posts.length != 0 %>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <% @user.Posts.each do |post| %>
                <div class="card h-100" style="width: 25rem;">
                  <div class="card-body">
                    <h4 class="card-title"><%= post.title %></h4>
                    <h5 class="card-subtitle mb-2 text-muted"><%= post.user.name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at %></h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <% post.tags.each do |tag| %>
                        <span class="badge rounded-pill bg-secondary"><%= tag.name %></span>
                      <% end %>
                    </h6>
                    <p class="card-text"><%= plaintext(post.article) %></p>
                    <%= link_to("Link", "/posts/#{post.id}", {class: "btn btn-primary"}) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p> まだ投稿はありません． </p>
          <% end %>  
        </article>
      <% else %>
        ログインが必要です．
      <% end %>
    </div>
  </div>
</div>
