<!DOCTYPE html>
<html>
  <head>
    <title>Handson2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <body>
    <% if logged_in? %>
      <ul class="dropdown-menu">
        <li><%= link_to "HOME" , root_path %></li>
        <li><%= link_to "自分のページ", current_user %></li>
        <li><%= button_to "Log out", logout_path, method: :delete %></li>
      </ul>
    <% else %>
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>
    <%= yield %>
  </body>
</html>
