<script data-turbolinks-track="reload">
  var simplemde = new SimpleMDE();
</script>

<%= render 'layouts/hero' %>

<div class="container">
  <h1>新規投稿</h1>

  <%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages_post' %>
    <%= f.label :tag %><br>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= tag.check_box %>
      <%= tag.text %>
    <% end %>
    <%= link_to "追加", controller: "tags", action: "new" %>

    <div class="mb-3">
      <%= f.label :title, {class: "form-label"} %>
      <%= f.text_field :title, {type: "text", class: "form-control"} %>
    </div>

    <%= f.label :article,  {class: "form-label"} %>
    <%= f.text_area :article %>

    <%= f.submit "Add new post", class: "btn btn-primary" %>
  <% end %>
</div>
