<h1>新規投稿</h1>

<%= form_with(model: @post, local: true) do |f| %>

  <%= f.label :tag %>
  <%= f.collection_select(:tag_id, Tag.all, :id, :name) %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :article %>
  <%= f.text_field :article %>
  
  <%= f.submit "Add new post", class: "btn btn-primary" %><br>
<% end %>

