<%= render 'layouts/hero' %>
<div class="container">
  <h1>新規投稿</h1>

  <%= form_with(model: @tag, local: true) do |f| %>
    <div class="mb-3">
      <%= f.label :name, {class: "form-label"} %>
      <%= f.text_field :name, {type: "text", class: "form-control"} %>
    </div>
    <%= f.submit "Add new tag", class: "btn btn-primary" %><br>
  <% end %>

</div>
